@model IEnumerable<Quan_Ly_Thu_Vien.Models.SACH>

@{
    ViewBag.Title = "Danh Mục Sách";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    <link rel="stylesheet" href="~/Content/MyLayout/css/style.css">

    <!-- nhúng icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">


    <link href=" ~/Content/MyLayout/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/MyLayout/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="~/Content/MyLayout/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">


}


@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<main>
    <div class="page-header ml-5">
        <div>
            <h1>Danh mục sách</h1>
            <small>Trang chủ / Danh mục sách</small>
        </div>
        <a class="btn btn-update-book btn-success" style="height: 40px; background-color: #22BAA0" id="open-modal">Cập nhật danh mục sách</a>
    </div>



    @*The Modal*@
    <div id="myModal" class="modal">
        @*Modal content*@
        <div class="modal-content" style="width:35%">
            <span class="close">&times;</span>
            <div class="modal-list">
                <div class="modal-item">
                    <h4 class="modal-heading">Mã Sách</h4>
                    <input type="text" placeholder="Nhập mã sách">
                </div>
                <div class="modal-item">
                    <h4 class="modal-heading">Tình trạng</h4>
                    <select name="tinh-trang-sach" id="tinh-trang-sach">
                        <option value="used">Sử dụng</option>
                        <option value="borrow">Được mượn</option>
                        <option value="over-time">Quá hạn</option>
                        <option value="damaged">Hư hỏng</option>
                        <option value="sell">Thanh lý</option>
                    </select>
                </div>
            </div>
            <button id="update-book-list" class="btn btn-success" style="width:100px;margin:24px auto">Cập nhật</button>
        </div>
    </div>

    <div class="container-fluid ml-4 mt-2">

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Mã sách</th>
                                <th>Tên sách</th>
                                <th>Tác giả</th>
                                <th>Nhà xuất bản</th>
                                <th>Thể loại</th>
                                <th>Tình trạng</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="table-list">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MaSach)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DAUSACH.TenSach)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DAUSACH.TenTG)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DAUSACH.NhaXuatBan.TenNXB)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DAUSACH.Theloai)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TinhTrang)
                                    </td>
                                    <td>
                                        @if (item.TinhTrang == 1)
                                        {
                                            <button class="link-button" id="open-modal">Thêm sách vào danh mục</button>
                                            //item.TinhTrang = 2;
                                        }
                                        else
                                        {

                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="~/Content/MyLayout/js/app.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@*@foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DAUSACH.TenSach)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaSach }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaSach }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaSach })
            </td>
        </tr>
    }*@