@model QuanLyThuVienCNPMNC.Models.BOITHUONG

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<<<<<<< Updated upstream
    <div class="form-horizontal bg_dt w-50">
        <h2 class="text-center text-uppercase text-bold">Tạo phiếu bồi thường</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-12">Mã hội viên </label>
            <div class="col-md-12">

                @Html.DropDownList("MaHV", null,"--Chọn hội viên-- ",htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaHV, "", new { @class = "text-danger" })
            </div>
=======
<div class="form-horizontal bg_dt w-50">
    <h2 class="text-center text-uppercase text-bold">Tạo phiếu bồi thường</h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-12">Mã độc giả </label>
        <div class="col-md-12">

            @Html.DropDownList("MaHV", null, "--Chọn độc giả-- ", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MaHV, "", new { @class = "text-danger" })
>>>>>>> Stashed changes
        </div>

        <div class="form-group">
            <label class="control-label col-md-12">Mã sách </label>
            <div class="col-md-12">
                @Html.DropDownList("MaSach", null, "--Chọn mã sách--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaSach, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-12">Số tiền phải trả </label>
            <div class="col-md-12">
                @Html.EditorFor(model => model.GiaTien, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = 0 } })
                @Html.ValidationMessageFor(model => model.GiaTien, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-12">Tình trạng bồi thường </label>
            <div class="col-md-12">
                @Html.DropDownList("TinhTrang", ViewBag.tinhtrangthe as SelectList, "--- Chọn tình trạng ---", new { @class = "form-control search-selectlist" })
                @Html.ValidationMessageFor(model => model.TinhTrang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-12 col-md-12 text-center">
                <input type="submit" value="Create" class="btn btn-default mr-2" />
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
}