@model QuanLyThuVienCNPMNC.Models.BOITHUONG

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="bg_dt">
    <p class="alert alert-danger mt-3" role="alert"><strong>Bạn có muốn xóa phiếu mượn này?</strong></p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Số tiền phải trả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaTien)
        </dd>

        <dt>
            Tình trạng bồi thường
        </dt>

        <dd>
            @if (Model.TinhTrang == 1)
            {
                <span>Chưa đóng phạt</span>
            }
            else
            {
                <span>Đã đóng phạt</span>
            }
        </dd>

        <dt>
            Tên hội viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOIVIEN.TenHV)
        </dd>

        <dt>
            Mã đầu sách
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SACH.MaDS)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-center">
            <input type="submit" value="Delete" class="btn btn-default mr-2" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
