@model QuanLyThuVienCNPMNC.Models.BOITHUONG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg_dt">
    <h2 class="text-center text-uppercase text-bold">thông tin<br /> phiếu bồi thường</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã hội viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOIVIEN.MaHV)
        </dd>
        <dt>
            Tên hội viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOIVIEN.TenHV)
        </dd>
        <dt>
            Mã sách
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SACH.MaDS)
        </dd>
        <dt>
            Tên sách
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SACH.DAUSACH.TenSach)
        </dd>
        <dt>
            Tình trạng
        </dt>

        <dd>
            @if (Model.TinhTrang == 1)
            {
                <span>Chưa đóng phạt</span>
            }
            else
            {
                <span>Đã đóng phạt</span>
            }
        </dd>
        <dt>
            Số tiền cần trả 
        </dt>
        <dd>
            @string.Format("{0:#,##0} vnđ", Convert.ToDouble(Model.GiaTien))
        </dd>
    </dl>
    <p class="text-center">
        @Html.ActionLink("Edit", "Edit", new { id = Model.MaHV, id1 = Model.MaSach }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

</div>
