@model IEnumerable<QuanLyThuVienCNPMNC.Models.BOITHUONG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SACH.MaSach)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.HOIVIEN.TenHV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </th>
        <th>
            Hành động
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.SACH.MaDS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HOIVIEN.TenHV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhTrang)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MaHV, id1 = item.MaSach }) |
            @Html.ActionLink("Details", "Details", new { id = item.MaHV, id1 = item.MaSach }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MaHV, id1 = item.MaSach })
        </td>
    </tr>
}

</table>
