@model QuanLyThuVienCNPMNC.Models.HOIVIEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin chi tiết</h2>

<div>
    <h4>Hội viên</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaHV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaHV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenHV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayLapThe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayLapThe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayHetHan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayHetHan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>

        <dd>
            @{
                var tinhTrang = Model.NgayHetHan < DateTime.Today ? "Hết hạn" : "Còn hạn";
                @tinhTrang

            }

            @*@Html.DisplayFor(model => model.TinhTrang)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DangMuon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DangMuon)
        </dd>





    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaHV }, new { @class = "btn btn-secondary" }) |
    @Html.ActionLink("Trở về trang danh sách", "Index", null, new { @class = "btn btn-outline-dark" })


    @*@Html.ActionLink("Edit", "Edit", new { id = Model.MaHV }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>


@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["Message"]");
            };
    </script>
}