@model QuanLyThuVienCNPMNC.Models.HOIVIEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="bg_dt">
    <h2 class="text-center text-uppercase text-bold">thông tin hội viên</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã hội viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaHV)
        </dd>

        <dt>
            Tên hội viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHV)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            Ngày lập thẻ
        </dt>

        <dd>
            @Convert.ToDateTime(Model.NgayLapThe).ToString("dd/MM/yyyy")
        </dd>

        <dt>
            Ngày hết hạn
        </dt>

        <dd>
            @Convert.ToDateTime(Model.NgayHetHan).ToString("dd/MM/yyyy")
        </dd>
        <dt>
            Tình trạng
        </dt>

        <dd>
            @{
                var tinhTrang = Model.NgayHetHan < DateTime.Today ? "Không sử dụng" : "Sử dụng được";
                @tinhTrang

            }

            @*@Html.DisplayFor(model => model.TinhTrang)*@
        </dd>

        <dt>
            Số lượng sách đang mượn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DangMuon)
        </dd>

        <dt>
            Trạng thái thẻ
        </dt>

        <dd>
            @{
                if (Model.TrangThai == 1)
                {
                    @Html.Raw("Khóa");
                }
                else if (Model.TrangThai == 2)
                {
                    @Html.Raw("Bình thường");
                }
                else if (Model.TrangThai == null)
                {
                    @Html.Raw("Bình thường");
                }
            }
        </dd>
    </dl>
    <p class="text-center">
        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaHV }, new { @class = "btn btn-secondary mr-2" }) 
        @Html.ActionLink("Trở về trang danh sách", "Index", null, new { @class = "btn btn-outline-dark" })
    </p>

</div>


@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["Message"]");
            };
    </script>
}