@model IEnumerable<QuanLyThuVienCNPMNC.Models.HOIVIEN>



@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .tinhtrang__hethan,
    .tinhtrang__conhan {
        
        border-radius: 6px;
        
    }

    .tinhtrang__hethan {
        padding: 4px;
    }

    .tinhtrang__conhan {
        padding: 4px 2px;
    }
</style>

<h2>Danh sách độc giả</h2>
<hr />

<p>
    <a href="@Url.Action("Create","DocGia")" class="add-item">
        <i class="fa-solid fa-plus add-icon"></i> Thêm
    </a>
</p>

<table id="myTable" class="display">
    <thead>
        <tr>
            <th>
                Mã hội viên
            </th>
            <th>
                Tên hội viên
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Ngày lập thẻ
            </th>
            <th>
                Ngày hết hạn
            </th>
            <th>
                Tình Trạng
            </th>
            <th>
                Đang mượn
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Hành động
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaHV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenHV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayLapThe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayHetHan)
                </td>
                <td style="">
                   
                    @if (item.TinhTrang == "Không sử dụng")
                    {
                        <span class="bg-gradient-danger tinhtrang__hethan">@Html.DisplayFor(modelItem => item.TinhTrang)</span>
                    }
                    else
                    {
                        <span  class="bg-gradient-success tinhtrang__conhan">@Html.DisplayFor(modelItem => item.TinhTrang)</span>
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DangMuon) Cuốn
                </td>
                <td>
                    @if (item.TrangThai == 1)
                    {
                        <text> Khóa </text>
                    }
                    else
                    {
                        <text>  </text>

                    }
                </td>
                <td>
                    @*@Html.ActionLink("Details", "Details", new { id = item.MaDS })*@
                    <a href="@Url.Action("Details","DocGia", new {id = item.MaHV})" class="action-item">
                        <i class="fa-solid fa-book action-icon"></i>
                    </a>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.MaDS })*@
                    <a href="@Url.Action("Edit","DocGia", new {id = item.MaHV})" class="action-item">
                        <i class="fa-solid fa-pen-to-square action-icon"></i>
                    </a>
                    <a href="@Url.Action("Delete","DocGia", new {id = item.MaHV})" class="action-item">
                        <i class="fa-solid fa-trash action-icon"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["Message"]");
            };
    </script>
}