@model QuanLyThuVienCNPMNC.Models.SACH

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Sách</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>

        <dd>
            @{
                if (Model.TinhTrang == 1)
                {
                    @Html.Raw("Còn");
                }
                else if (Model.TinhTrang == 2)
                {
                    @Html.Raw("Cho mượn");
                }
                else if (Model.TinhTrang == 3)
                {
                    @Html.Raw("Mất");
                }
                else if (Model.TinhTrang == 4)
                {
                    @Html.Raw("Hỏng");
                }
               
            }
            @*@Html.DisplayFor(model => model.TinhTrang)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaDS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaSach }, new { @class = "btn btn-secondary" }) |
    @Html.ActionLink("Trở về trang danh sách", "Index", null, new { @class = "btn btn-outline-dark" })


    @*@Html.ActionLink("Edit", "Edit", new { id = Model.MaSach }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>


@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["Message"]");
            };
    </script>
}