@model QuanLyThuVienCNPMNC.Models.SACH

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg_dt">
    <h2 class="text-center text-uppercase text-bold">Chi tiết về sách</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sách
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DAUSACH.TenSach)
        </dd>
        <dt>
            Mã sách
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSach)
        </dd>

        <dt>
            Tình trạng sách
        </dt>

        <dd>
            @{
                if (Model.TinhTrang == 1)
                {
                    @Html.Raw("Còn");
                }
                else if (Model.TinhTrang == 2)
                {
                    @Html.Raw("Cho mượn");
                }
                else if (Model.TinhTrang == 3)
                {
                    @Html.Raw("Mất");
                }
                else if (Model.TinhTrang == 4)
                {
                    @Html.Raw("Hỏng");
                }

            }
            @*@Html.DisplayFor(model => model.TinhTrang)*@
        </dd>

        <dt>
            Mã đầu sách
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDS)
        </dd>

        <dt>
            Ghi chú thêm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

    </dl>
    <p class="text-center">
        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaSach }, new { @class = "btn btn-secondary mr-2" }) 
        @Html.ActionLink("Trở về trang danh sách", "Index", null, new { @class = "btn btn-outline-dark" })
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.MaSach }) |
            @Html.ActionLink("Back to List", "Index")*@
    </p>
</div>


@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["Message"]");
            };
    </script>
}