@model IEnumerable<QuanLyThuVienCNPMNC.Models.SACH>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a href="@Url.Action("Create","Sach")" class="add-item">
        <i class="fa-solid fa-plus add-icon"></i> Thêm
    </a>
</p>
<div class="bg_dt_index">
    <h1 class="text-center text-uppercase text-bold">Danh mục sách</h1>
    <hr />
    <table class="display" id="myTable">
        <thead>
            <tr>
                <th>
                    Mã sách
                </th>
                <th>
                    Tình trạng
                </th>
                <th>
                    Mã đầu sách
                </th>
                <th>
                    Ghi chú thêm
                </th>
                <th>
                    Hành động
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaSach)
                    </td>

                    <td>
                        @if (item.TinhTrang == 1)
                        {
                            <text> Còn </text>
                        }
                        else if (item.TinhTrang == 2)
                        {
                            <text> Cho mượn </text>
                        }

                        else if (item.TinhTrang == 3)
                        {
                            <text> Mất </text>
                        }
                        else if (item.TinhTrang == 4)
                        {
                            <text> Hỏng </text>
                        }




                        @*@Html.DisplayFor(modelItem => item.TinhTrang)*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DAUSACH.TenSach)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GhiChu)
                    </td>
                    <td>
                        @*@Html.ActionLink("Details", "Details", new { id = item.MaDS })*@
                        <a href="@Url.Action("Details","Sach", new {id = item.MaSach})" class="action-item">
                            <i class="fa-solid fa-book action-icon"></i>
                        </a>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.MaDS })*@
                        <a href="@Url.Action("Edit","Sach", new {id = item.MaSach})" class="action-item">
                            <i class="fa-solid fa-pen-to-square action-icon"></i>
                        </a>
                        <a href="@Url.Action("Delete","Sach", new {id = item.MaSach})" class="action-item">
                            <i class="fa-solid fa-trash action-icon"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
               document.addEventListener('DOMContentLoaded', function () {
                    Swal.fire({
                    title: 'Thành công',
                    text: '@ViewBag.Message',
                    icon: 'success',
                    confirmButtonText: 'OK'
                    });
                    });
    </script>
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
               document.addEventListener('DOMContentLoaded', function () {
                Swal.fire({
                title: 'Thành công',
                text: '@TempData["Message"]',
                icon: 'success',
                confirmButtonText: 'OK'
                });
                });
    </script>
}
@if (TempData["Error"] != null)
{
    <script type="text/javascript">
               document.addEventListener('DOMContentLoaded', function () {
                Swal.fire({
                title: 'Thất bại',
                text: '@TempData["Error"]',
                    icon: 'error',
                confirmButtonText: 'OK'
                });
                });
    </script>
}