@model QuanLyThuVienCNPMNC.Models.BAOCAO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin chi tiết</h2>

<div>
    <h4>Báo cáo</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @*            @Html.DisplayNameFor(model => model.MaNhanVien)*@
            <label>Tiêu đề</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tieude)
        </dd>
        <dt>
            @*      @Html.DisplayNameFor(model => model.Description)*@
            <label>Nội dung</label>
        </dt>

        <dd>
            @Html.Raw(Model.Description)
            @*@Html.DisplayFor(model => model.Description)*@
        </dd>
        <dt>
            @* @Html.DisplayNameFor(model => model.Ten)*@
            <label>Người lập phiếu</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHANVIEN.TenNV)
        </dd>

        <dt>
            @*            @Html.DisplayNameFor(model => model.MaNhanVien)*@
            <label>Mã người lập phiếu</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNhanVien)
        </dd>
        <dt>
            <label>Ngày lập phiếu</label>
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.NgayLapBaoCaoFormatted)*@
            @Convert.ToDateTime(Model.NgayLapBaoCao).ToString("dd/MM/yyyy")
        </dd>
    </dl>
</div>
<p>

    <button class="btn btn-primary">In báo cáo</button> |
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.Id }, new { @class = "btn btn-secondary" }) |
    @Html.ActionLink("Trở về trang danh sách", "Index", null, new { @class = "btn btn-outline-dark" })

    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")*@
</p>


@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["Message"]");
            };
    </script>
}