@model QuanLyThuVienCNPMNC.Models.BAOCAO

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal bg_dt w-75">
        <h2 class="text-center text-uppercase text-bold">chỉnh sửa báo cáo</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            <label class="control-label col-md-12">Ngày chỉnh sửa báo cáo</label>
            <div class="col-md-12">
                @Convert.ToDateTime(DateTime.Now).ToString("dd/MM/yyyy")
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-12">Người lập báo cáo</label>
            <div class="col-md-12">
                @{
                    //Gọi session
                    var user = (QuanLyThuVienCNPMNC.Models.NHANVIEN)HttpContext.Current.Session["user"];
                    <span class="form-control">
                        @user.TenNV
                    </span>
                }
            </div>
        </div>
        <div class="form-group">
            @*@Html.LabelFor(model => model.Ten, htmlAttributes: new { @class = "control-label col-md-12" })*@
            <label class="control-label col-md-12">Tiêu đề</label>
            <div class="col-md-12">
                @Html.EditorFor(model => model.Tieude, new { htmlAttributes = new { @class = "form-control", @name = "tieude", @required ="required" } })
                @Html.ValidationMessageFor(model => model.Tieude, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-12">Nội dung</label>
            <div class="col-md-12">
                @*Trình soạn thảo văn bản (CKEditor)*@
                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @id = "Description", @name = "noidung" } })
                <script type="text/javascript" lang="javascript">
                    CKEDITOR.replace("Description")
                </script>
                @*@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-12 text-center">
                <input type="submit" value="Lưu" class="btn mr-2" style="background-color: #210cae; color:#fff;" />
                @Html.ActionLink("Trở lại", "Index", null, new { @class = "btn btn-outline-secondary" })
            </div>
        </div>

    </div>
}



@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["Message"]");
            };
    </script>
}