@model IEnumerable<QuanLyThuVienCNPMNC.Models.BAOCAO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a href="@Url.Action("Create","BaoCao")" class="add-item">
        <i class="fa-solid fa-plus add-icon"></i> Thêm
    </a>
</p>
<div class="bg_dt_index">
    <h1 class="text-center text-uppercase text-bold">danh sách báo cáo</h1>
    <hr />
    <table id="myTable" class="display">
        <thead>
            <tr>
                <th>
                    <label>Tiêu đề</label>
                </th>
                <th>
                    <label>Mô tả</label>
                </th>
                <th>
                    <label>Người lập báo cáo</label>
                </th>
                <th>
                    <label>Ngày lập</label>
                </th>
                <th>
                    <label>Hành động</label>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tieude)
                    </td>
                    <td>
                        @Html.Raw(item.Description)
                        @*@Html.DisplayFor(modelItem => item.Description)*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NHANVIEN.TenNV)
                    </td>

                    <td>
                        @*Định dạng ngày trên html*@
                        @Convert.ToDateTime(item.NgayLapBaoCao).ToString("dd/MM/yyyy")

                    </td>
                    <td>
                        @*@Html.ActionLink("Details", "Details", new { id = item.MaDS })*@
                        <a href="@Url.Action("Details","BaoCao", new {id = item.Id})" class="action-item">
                            <i class="fa-solid fa-book action-icon"></i>
                        </a>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.MaDS })*@
                        <a href="@Url.Action("Edit","BaoCao", new {id = item.Id})" class="action-item">
                            <i class="fa-solid fa-pen-to-square action-icon"></i>
                        </a>
                        <a href="@Url.Action("Delete","BaoCao", new {id = item.Id})" class="action-item">
                            <i class="fa-solid fa-trash action-icon"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
               document.addEventListener('DOMContentLoaded', function () {
                    Swal.fire({
                    title: 'Thành công',
                    text: '@ViewBag.Message',
                    icon: 'success',
                    confirmButtonText: 'OK'
                    });
                    });
        </script>
    }
    @if (TempData["Message"] != null)
    {
        <script type="text/javascript">
               document.addEventListener('DOMContentLoaded', function () {
                Swal.fire({
                title: 'Thành công',
                text: '@TempData["Message"]',
                icon: 'success',
                confirmButtonText: 'OK'
                });
                });
        </script>
    }
    @if (TempData["Error"] != null)
    {
        <script type="text/javascript">
               document.addEventListener('DOMContentLoaded', function () {
                Swal.fire({
                title: 'Thất bại !',
                text: '@TempData["Error"]',
                icon: 'error',
                confirmButtonText: 'OK'
                });
                });
        </script>
    }
    @if (TempData["Permission"] != null)
    {
        <script type="text/javascript">
               document.addEventListener('DOMContentLoaded', function () {
                Swal.fire({
                    title: 'Thông báo !!',
                     text: '@TempData["Permission"]',
                    icon: 'info',
                    confirmButtonText: 'OK'
                });
                });
        </script>
    }
