@model IEnumerable<QuanLyThuVienCNPMNC.Models.BAOCAO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách báo cáo</h2>
<hr />

<p>
    <a href="@Url.Action("Create","BaoCao")" class="add-item">
        <i class="fa-solid fa-plus add-icon"></i> Thêm
    </a>
</p>
<table id="myTable" class="display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ten)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNhanVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayLapBaoCaoFormatted)
            </th>

            <th>
                Hành động
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ten)
                </td>
                <td>
                    @Html.Raw(item.Description)
                    @*@Html.DisplayFor(modelItem => item.Description)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaNhanVien)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NgayLapBaoCaoFormatted)
                </td>
                <td>
                    @*@Html.ActionLink("Details", "Details", new { id = item.MaDS })*@
                    <a href="@Url.Action("Details","BaoCao", new {id = item.Id})" class="action-item">
                        <i class="fa-solid fa-book action-icon"></i>
                    </a>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.MaDS })*@
                    <a href="@Url.Action("Edit","BaoCao", new {id = item.Id})" class="action-item">
                        <i class="fa-solid fa-pen-to-square action-icon"></i>
                    </a>
                    <a href="@Url.Action("Delete","BaoCao", new {id = item.Id})" class="action-item">
                        <i class="fa-solid fa-trash action-icon"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


@if (ViewBag.Message != null)
{
    <script type="text/javascript">
               document.addEventListener('DOMContentLoaded', function () {
                    Swal.fire({
                    title: 'Thành công',
                    text: '@ViewBag.Message',
                    icon: 'success',
                    confirmButtonText: 'OK'
                    });
                    });
    </script>
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
               document.addEventListener('DOMContentLoaded', function () {
                Swal.fire({
                title: 'Thành công',
                text: '@TempData["Message"]',
                icon: 'success',
                confirmButtonText: 'OK'
                });
                });
    </script>
}
