@model QuanLyThuVienCNPMNC.Models.NHANVIEN

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        font-family: 'Josefin Sans', sans-serif;
    }

    .profile .avatar-box {
        width: 35%;
        padding: 8px 0;
        border-radius: 5px;
        text-align: center;
        color: #fff;
        margin: 0 auto;
    }

        .profile .avatar-box img {
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .profile .avatar-box h4 {
            margin-bottom: 10px;
        }

        .profile .avatar-box p {
            font-size: 12px;
        }

    .profile .detail {
        width: 65%;
        background: #fff;
        padding: 30px 25px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        margin: 0 auto;
    }

        .profile .detail .info,
        .profile .detail .projects {
            margin-bottom: 25px;
        }

            .profile .detail .info h3,
            .profile .detail .projects h3 {
                margin-bottom: 15px;
                padding-bottom: 5px;
                border-bottom: 1px solid #e0e0e0;
                color: #353c4e;
                text-transform: uppercase;
                letter-spacing: 5px;
            }

        .profile .detail .info_data,
        .profile .detail .projects_data {
            display: flex;
            justify-content: space-between;
        }

            .profile .detail .info_data .data,
            .profile .detail .projects_data .data {
                width: 45%;
            }

                .profile .detail .info_data .data h4,
                .profile .detail .projects_data .data h4 {
                    color: #353c4e;
                    margin-bottom: 5px;
                }

                .profile .detail .info_data .data p,
                .profile .detail .projects_data .data p {
                    font-size: 13px;
                    margin-bottom: 10px;
                    color: #919aa3;
                }

    .profile .social_media ul {
        display: flex;
    }

        .profile .social_media ul li {
            width: 45px;
            height: 45px;
            background: linear-gradient(to right,#01a9ac,#01dbdf);
            margin-right: 10px;
            border-radius: 5px;
            text-align: center;
            line-height: 45px;
        }

            .profile .social_media ul li a {
                color: #fff;
                display: block;
                font-size: 18px;
            }

    .bg_dt_ttcn {
        margin-top: 20px !important;
        margin: auto;
        padding: 10px 50px 50px 50px;
        width: 750px;
        background: white;
        border-radius: 20px;
        box-shadow: 6px 4px 8px;
    }
</style>

<div class="bg_dt_ttcn">
    <!--<dl class="dl-horizontal">
    >>>>>>> Stashed changes
            <dt>
                Mã nhân viên
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaNV)
            </dd>
            <dt>
                Tên nhân viên
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenNV)
            </dd>

            <dt>
                Chức vụ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ChucVu)
            </dd>

            <dt>
                Tên tài khoản
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.HiddenFor(model => model.MatKhau)
            </dt>

            <dd>
                @Html.HiddenFor(model => model.MatKhau)
            </dd>
            <dt>
                Avatar
            </dt>

            <dd>
               @* @Html.DisplayFor(model => model.ImageAva)*@
                <img src="~/Images/@Model.ImageAva" alt="Avatar"  style="width:180px; border-radius:100px;text-align:center; align-items:center" />
            </dd>
    <<<<<<< Updated upstream
        </dl>
    =======

        </dl>-->

    <div class="container">
        <!-- Trigger the modal with a button -->
        <!-- Button trigger modal -->
        <div id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Đổi ảnh đại diện</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    @using (Html.BeginForm("EditAnh", "ThongTinCaNhan", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="modal-body">
                            <!-- Form controls and fields here -->
                            <form>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="file" id="ImageAva" name="ImageAva" />
                                        @Html.ValidationMessageFor(model => model.ImageAva, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <input type="submit" value="Lưu" class="btn btn-primary" style="background-color: #210cae; color:#fff;" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="profile mt-5">
        <div class=" avatar-box text-center">
            <img src="~/Images/@Model.ImageAva" alt="user" width="100%" style="border-radius:380px;"><br />
            <button type="button" class="btn text-blue" data-toggle="modal" data-target="#myModal">Đổi ảnh đại diện</button>
        </div>
        <div class="detail">
            <div class="info">
                <h2 class="text-center text-uppercase text-bold mb-4">Thông tin cá nhân</h2>
                <div class="info_data">
                    <div class="data">
                        <dl class="dl-horizontal">
                            <dt>
                                Họ và Tên
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.TenNV)
                            </dd>
                        </dl>
                    </div>
                    <div class="data">
                        <dl class="dl-horizontal">
                            <dt>
                                Mã nhân viên
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.MaNV)
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="info_data">
                    <div class="data">
                        <dl class="dl-horizontal">
                            <dt>
                                Chức vụ
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.ChucVu)
                            </dd>
                        </dl>
                    </div>
                    <div class="data">
                        <dl class="dl-horizontal">
                            <dt>
                                Email
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="text-center">
        @*        @Html.ActionLink("Edit", "Edit", new { id = Model.MaNV }) |
            @Html.ActionLink("Back to List", "Index")*@

        @Html.ActionLink("Chỉnh sửa", "Edit", null, new { @class = "btn btn-secondary mr-2" })
        @Html.ActionLink("Đổi mật khẩu", "ChangePass", null, new { @class = "btn btn-outline-info" })


    </p>
</div>

@if (TempData["Error"] != null)
{
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            Swal.fire({
                title: 'Oops..',
                text: 'Lỗi...',
                icon: 'error',
                confirmButtonText: 'OK'
            });
        });
    </script>
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            Swal.fire({
                position: 'top-end',
                title: 'Thành công !',
                text: 'Lưu thành công :D',
                icon: 'success',
                confirmButtonText: 'OK',
                timer: 1500
                });
        });
    </script>
}