@model QuanLyThuVienCNPMNC.Models.NHANVIEN

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg_dt w-75">
    <h2 class="text-center text-uppercase text-bold">Thông tin cá nhân</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã nhân viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNV)
        </dd>
        <dt>
            Tên nhân viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNV)
        </dd>

        <dt>
            Chức vụ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChucVu)
        </dd>

        <dt>
            Tên tài khoản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.HiddenFor(model => model.MatKhau)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.MatKhau)
        </dd>
        <dt>
            Avatar
        </dt>

        <dd>
           @* @Html.DisplayFor(model => model.ImageAva)*@
            <img src="~/Images/@Model.ImageAva" alt="Avatar"  style="width:180px; border-radius:100px;text-align:center; align-items:center" />
        </dd>
    </dl>
    <p class="text-center">
        @*        @Html.ActionLink("Edit", "Edit", new { id = Model.MaNV }) |
        @Html.ActionLink("Back to List", "Index")*@

        @Html.ActionLink("Chỉnh sửa", "Edit", null, new { @class = "btn btn-secondary mr-2" })
        @Html.ActionLink("Đổi mật khẩu","ChangePass", null, new { @class = "btn btn-outline-info" })


    </p>
</div>

@if (TempData["Error"] != null)
{
    <script type="text/javascript">
               document.addEventListener('DOMContentLoaded', function () {
                Swal.fire({
                title: 'Thất bại !',
                text: '@TempData["Error"]',
                icon: 'error',
                confirmButtonText: 'OK'
                });
                });
    </script>
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
               document.addEventListener('DOMContentLoaded', function () {
                Swal.fire({
                title: 'Thành công !',
                text: '@TempData["Message"]',
                icon: 'success',
                confirmButtonText: 'OK'
                });
                });
    </script>
}