@model IEnumerable<Quan_Ly_Thu_Vien.Models.DOANHTHU>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KhoangThoiGian)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongTien)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KhoangThoiGian)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongTien)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NgayTK }) |
            @Html.ActionLink("Details", "Details", new { id=item.NgayTK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NgayTK })
        </td>
    </tr>
}

</table>
