@model QuanLyThuVienCNPMNC.Models.NHANVIEN

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="bg_dt">
    <p class="alert alert-danger mt-3" role="alert"><strong>Bạn có muốn xóa tài khoản này?</strong></p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã nhân viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNV)
        </dd>

        <dt>
            Tên nhân viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNV)
        </dd>

        <dt>
            Chức vụ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChucVu)
        </dd>

        <dt>
            Tài khoản Gmail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Mật khẩu
        </dt>

        <dd>
            @*  @Html.Raw(string.Concat(Enumerable.Repeat("*", Model.MatKhau.Length)))*@

            @Html.DisplayFor(model => model.MatKhau)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-center">
            <input type="submit" value="Xóa" class="btn btn-danger mr-2" />
            @Html.ActionLink("Trở lại", "Index", null, new { @class = "btn btn-outline-dark" })
        </div>
    }
</div>


@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["Message"]");
            };
    </script>
}