@model IEnumerable<QuanLyThuVienCNPMNC.Models.NHANVIEN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    <a href="@Url.Action("Create","NhanVien")" class="add-item">
        <i class="fa-solid fa-plus add-icon"></i> Nhân viên
    </a>
</p>
<div class="bg_dt_index">
    <h1 class="text-center text-uppercase text-bold">danh sách nhân viên</h1>
    <hr />
    <table class="display" id="myTable">
        <thead>
            <tr>
                <th>
                    Mã nhân viên
                </th>
                <th>
                    Tên nhân viên
                </th>
                <th>
                    Chức vụ
                </th>
                <th>
                    Tài khoản Gmail
                </th>
                <th>
                    Mật khẩu
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaNV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenNV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChucVu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.MatKhau)*@
                        @* Hiển thị dấu sao *@
                        @Html.Raw(string.Concat(Enumerable.Repeat("*", item.MatKhau.Length)))
                    </td>
                    <td>
                        @*@Html.ActionLink("Details", "Details", new { id = item.MaDS })*@
                        <a href="@Url.Action("Details","NhanVien", new {id = item.MaNV})" class="action-item">
                            <i class="fa-solid fa-book action-icon"></i>
                        </a>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.MaDS })*@
                        <a href="@Url.Action("Edit","NhanVien", new {id = item.MaNV})" class="action-item">
                            <i class="fa-solid fa-pen-to-square action-icon"></i>
                        </a>
                        <a href="@Url.Action("Delete","NhanVien", new {id = item.MaNV})" class="action-item">
                            <i class="fa-solid fa-trash action-icon"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>
                    Mã nhân viên
                </th>
                <th>
                    Tên nhân viên
                </th>
                <th>
                    Chức vụ
                </th>
                <th>
                    Tài khoản Gmail
                </th>
                <th>
                    Mật khẩu
                </th>
                <th>
                </th>
            </tr>
        </tfoot>
    </table>
</div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
               document.addEventListener('DOMContentLoaded', function () {
                    Swal.fire({
                    title: 'Thành công',
                    text: '@ViewBag.Message',
                    icon: 'success',
                    confirmButtonText: 'OK'
                    });
                    });
    </script>
}
@if (TempData["MessageDelete"] != null)
{
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            Swal.fire({
                title: 'Success!!',
                text: 'Xóa thành công!!',
                icon: 'success',
                confirmButtonText: 'OK'
            });
        });
    </script>
}
@if (TempData["MessageErRole"] != null)
{
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            Swal.fire({
                title: 'Oops..',
                text: 'Bạn không có quyền truy cập vào chức năng này!!',
                icon: 'error',
                confirmButtonText: 'OK'
            });
        });
    </script>
}
@if (TempData["MessageEdit"] != null)
{
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            Swal.fire({
                title: 'Success!!',
                text: 'Chỉnh sửa thành côngg!!',
                icon: 'success',
                confirmButtonText: 'OK'
            });
        });
    </script>
}
@if (TempData["MessageAdd"] != null)
{
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            Swal.fire({
                title: 'Success!!',
                text: 'Thêm thành côngg!!',
                icon: 'success',
                confirmButtonText: 'OK'
            });
        });
    </script>
}
@if (TempData["Error"] != null)
{
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            Swal.fire({
                title: 'Oops..',
                text: 'Lỗi quan hệ khóa...',
                icon: 'error',
                confirmButtonText: 'OK'
            });
        });
    </script>
}