@model QuanLyThuVienCNPMNC.Models.PHIEUMUONSACH


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<script type="text/javascript">
    $(function () {
        $('.search-selectlist').select2();


    })
</script>
<script type="text/javascript">
    function validateData() {

        if ($("#ngaymuon").val() == "") {
            Swal.fire({
                icon: 'warning',
                title: 'Vui lòng chọn ngày mượn'
            });
            return false;
        }
        else {
            return true;
        }
    }
</script>
<script>
    //Lay thoi han tra
    $(document).ready(function () {

        document.getElementById("ngaymuon").addEventListener("change", function () {
            // Lấy element có id = "ngaymuon"
            let ngaymuon = document.getElementById('ngaymuon');
            // Chuyển giá trị thành kiểu Date
            let dateValue = new Date(ngaymuon.value);
            // Cộng thêm 14 ngày
            dateValue.setDate(dateValue.getDate() + 14);
            // Format lại thành chuỗi "dd/mm/yyyy"
            let dateString = dateValue.toLocaleDateString("en-GB");
            // Xuất kết quả
            let result = document.getElementById("thoihan");
            result.innerHTML = dateString;
        });

    // Tạo thêm dropdown list
        // Lưu trữ thẻ div bao bọc các DropDownList
        var dropdownListContainer = $('#dropdownlist-container');
        // Bien kiem tra 'chon sach' da xuat hien hay chua
        var kiemtra = null;

        // sự kiện khi giá trị của "soluong" thay đổi
        $('#soluong').on('change', function () {

            // Lấy giá trị hiện tại của "soluong"
            var soluong = parseInt($(this).val());

            // Xóa các DropDownList cũ
            dropdownListContainer.empty();

            // Tạo lại các DropDownList mới theo số lượng mới của "soluong"
            for (var i = 0; i < soluong; i++) {

                // Tạo một thẻ div để bao bọc DropDownList và label
                var dropdownWrapper = $('<div class="form-group"></div>');

                // Tạo một label mới và thêm vào thẻ div trên
                var label = $('<label class="control-label col-md-12" for="masach-' + i + '">Mã sách ' + (i+1) + '</label>');
                dropdownWrapper.append(label);

                // Tạo một DropDownList mới và thêm vào thẻ div trên
                var dropdown = $('<select class="form-control search-selectlist" id="masach-' + i + '" name="masach"></select>');
                dropdownWrapper.append(dropdown);

                // Giá trị hiển thị mặc định của dropdown list
                dropdown.append($('<option></option>').attr('selected',true).text("-- Chọn sách --"));
                // Thêm các tùy chọn sách vào DropDownList
                $.each(@Html.Raw(Json.Encode(ViewBag.sachdrop)), function (index, option) {
                        dropdown.append($('<option></option>').attr('value', option.Value).text(option.Text));

                });
                // Thêm thẻ div mới vào container
                dropdownListContainer.append(dropdownWrapper);
            }

        });
    });
</script>
<script>
    $(document).ready(function () {
        $('.search-selectlist').select2({

        })
    });
</script>

@using (Html.BeginForm("Create", "PhieuMuon"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal bg_dt w-50">
        <h2 class="text-center text-uppercase text-bold">Tạo phiếu mượn sách</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-12">Mã phiếu mượn sách</label>
            <div class="col-md-12 text-bold text-red">
                @ViewBag.newkey

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-12">Hội viên mượn sách</label>
            <div class="col-md-12">
                @Html.DropDownList("mahoivien", (List<SelectListItem>)ViewBag.mahoivien, htmlAttributes: new { @class = "form-control search-selectlist" })

                @Html.ValidationMessageFor(model => model.HOIVIEN.TenHV, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-12">Ngày mượn sách</label>
            <div class="col-md-12">
                <input class="form-control" id="ngaymuon" name="ngaymuon" type="date" />
                <span class="field-validation-valid text-danger" data-valmsg-for="ngaymuon" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.HiddenFor(model => model.NgayTra, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.NgayTra, new { htmlAttributes = new { @class = "form-control", @type = "date" } })*@

                @Html.HiddenFor(model => model.NgayTra)

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-12">Ngày trả sách</label>
            <div class="col-md-12">
                <span class="form-control" style="color:red; font-weight:bold;" id="thoihan">dd/mm/yyyy</span><br>

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-12">Số lượng sách mượn</label>
            <div class="col-md-12">
                <input class="form-control" id="soluong" name="soluong" type="number" min="0" max="3" />
                <span class="field-validation-valid text-danger" data-valmsg-for="soluong" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div id="dropdownlist-container">
            <div class="form-group">
                @*@Html.LabelFor(model => model.SACH.MaSach, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("masach", (List<SelectListItem>)ViewBag.sachdrop, "", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SACH.MaSach, "", new { @class = "text-danger" })
                    </div>*@
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-12 col-md-12 text-center">
                <input type="submit" value="Thêm mới" class="btn mr-2" style="background-color: #210cae; color:#fff;" onclick="return validateData()" />
                @Html.ActionLink("Trở lại", "Index", null, new { @class = "btn btn-outline-dark" })
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(function () {
        $('.search-selectlist').chosen();
    })
</script>
