@model QuanLyThuVienCNPMNC.Models.PHIEUMUONSACH

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal bg_dt w-50">
        <h2 class="text-center text-uppercase text-bold">chỉnh sửa thông tin <br /> phiếu mượn sách</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-12">Mã phiếu mượn sách</label>
            <div class="col-md-12">
                @Html.ValueFor(model => model.MaPhieu)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-12">Mã độc giả mượn sách</label>
            <div class="col-md-12">
                @Html.ValueFor(model => model.MaHV)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-12">Ngày mượn sách</label>
            <div class="col-md-12">
                @Html.HiddenFor(model => model.NgayMuon)
                @Convert.ToDateTime(Model.NgayMuon).ToString("dd/MM/yyyy")
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-12">Ngày trả sách</label>
            <div class="col-md-12">
                <input class="form-control" id="ngaytra" name="ngaytra" type="date" required />
                <span class="field-validation-valid text-danger" data-valmsg-for="ngaytra" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-12">Thời hạn trả sách</label>
            <div class="col-md-12">
                @*<input class="form-control" id="thoihan" name="thoihan" type="date" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="thoihan" data-valmsg-replace="true"></span>*@
                @Html.EditorFor(model => model.ThoiHan, new { htmlAttributes = new { @class = "form-control", @name = "thoihan", @type = "date", @Value = Model.ThoiHan.ToString("yyyy-MM-dd"), @required="required" } })
                @Html.ValidationMessageFor(model => model.ThoiHan, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-12">Số lượng sách đang mượn</label>
            <div class="col-md-12">
                @Html.ValueFor(model => model.SoLuong)

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-12">Các sách đang mượn</label>
            <div class="col-md-12">
                @foreach (var item in ViewBag.danhsachSach)
                {
                    @item <br />
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-12 col-md-12 text-center">
                <input type="submit" value="Lưu" class="btn mr-2" style="background-color: #210cae; color:#fff;" />
                @Html.ActionLink("Trở lại", "Index", null, new { @class = "btn btn-outline-secondary" })

            </div>
        </div>
    </div>
}


@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["Message"]");
            };
    </script>
}
