@model IEnumerable<QuanLyThuVienCNPMNC.Models.PHIEUMUONSACH>
@*@using PagedList;
    @using PagedList.Mvc;
    @model PagedList.IPagedList<QuanLyThuVienCNPMNC.Models.PHIEUMUONSACH>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<style>
    .my_btn {
        background-color: red;
        color: white;
        padding: 8px;
        width:100px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin: 0px 0px 0px 5px;
        border-radius: 24px;
    }
</style>
<p>
    <a href="@Url.Action("Create","PhieuMuon")" class="add-item">
        <i class="fa-solid fa-plus add-icon"></i> Mượn sách
    </a>

    @Html.ActionLink("Trả sách", "ChuaTraSach", null, new { @class = "btn my_btn" })


</p>

<div class="bg_dt_index">
    <h1 class="text-center text-uppercase text-bold">Danh sách phiếu mượn đã được trả</h1>
    <hr />
    <table id="myTable" class="display">
        <thead>
            <tr>
                <th>
                    Mã phiếu
                </th>
                <th>
                    Tên hội viên
                </th>
                <th>
                    Ngày mượn
                </th>
                <th>
                    Ngày trả
                </th>
                <th>
                    Thời hạn
                </th>
                <th>
                    Số lượng
                </th>
                <th>
                    Hành động
                </th>
            </tr>
        </thead>
        <tbody>
            <!--@section Scripts{
                <script>
                    myFunction() {
                        // Get the checkbox
                        var checkBox = document.getElementById("myChk");

                        // If the checkbox is checked, display the output text
                        if (checkBox.checked == true)
                        {
                                   };
                    };
                </script>
            }-->
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaPhieu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HOIVIEN.TenHV)
                    </td>
                    <td>
                        @*                        @Html.DisplayFor(modelItem => item.NgayMuon)*@
                        @Convert.ToDateTime(item.NgayMuon).ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @*         @Html.DisplayFor(modelItem => item.NgayTra)*@
                        @if (item.NgayTra != null)
                        {
                            @Convert.ToDateTime(item.NgayTra).ToString("dd/MM/yyyy")
                        }
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.ThoiHan)*@
                        @Convert.ToDateTime(item.ThoiHan).ToString("dd/MM/yyyy")

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoLuong)
                    </td>
                    <td>

                        @*@Html.ActionLink("Details", "Details", new { id = item.MaDS })*@
                        <a href="@Url.Action("Details", "PhieuMuon", new { maphieu = item.MaPhieu, mahoivien = item.MaHV })" class="action-item">
                            <i class="fa-solid fa-book action-icon"></i>
                        </a>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.MaDS })*@
                        <a href="@Url.Action("Edit", "PhieuMuon", new { maphieu = item.MaPhieu, mahoivien = item.MaHV })" class="action-item">
                            <i class="fa-solid fa-pen-to-square action-icon"></i>
                        </a>
                        <a href="@Url.Action("Delete", "PhieuMuon", new { maphieu = item.MaPhieu, mahoivien = item.MaHV })" class="action-item">
                            <i class="fa-solid fa-trash action-icon"></i>
                        </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>


@if (ViewBag.Message != null)
{
    <script type="text/javascript">
               document.addEventListener('DOMContentLoaded', function () {
                    Swal.fire({
                    title: 'Thành công',
                    text: '@ViewBag.Message',
                    icon: 'success',
                    confirmButtonText: 'OK'
                    });
                    });
    </script>
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
               document.addEventListener('DOMContentLoaded', function () {
                Swal.fire({
                title: 'Thành công',
                text: '@TempData["Message"]',
                icon: 'success',
                confirmButtonText: 'OK'
                });
                });
    </script>
}