@model IEnumerable<QuanLyThuVienCNPMNC.Models.PHIEUMUONSACH>
@*@using PagedList;
    @using PagedList.Mvc;
    @model PagedList.IPagedList<QuanLyThuVienCNPMNC.Models.PHIEUMUONSACH>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Danh sách phiếu mượn</h2>
<hr />

<p>
    <a href="@Url.Action("Create","PhieuMuon")" class="add-item">
        <i class="fa-solid fa-plus add-icon"></i> Thêm
    </a>

</p>

<table id="myTable" class="display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MaPhieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().HOIVIEN.TenHV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().NgayMuon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().NgayTra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ThoiHan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().SoLuong)
            </th>
            <th>
                Hành động
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaPhieu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HOIVIEN.TenHV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayMuonFormatted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayTraFormatted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThoiHanFormatted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>

                    @*@Html.ActionLink("Details", "Details", new { id = item.MaDS })*@
                    <a href="@Url.Action("Details","PhieuMuon", new { maphieu = item.MaPhieu, mahoivien = item.MaHV })" class="action-item">
                        <i class="fa-solid fa-book action-icon"></i>
                    </a>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.MaDS })*@
                    <a href="@Url.Action("Edit","PhieuMuon", new { maphieu = item.MaPhieu, mahoivien = item.MaHV })" class="action-item">
                        <i class="fa-solid fa-pen-to-square action-icon"></i>
                    </a>
                    <a href="@Url.Action("Delete","PhieuMuon",new { maphieu = item.MaPhieu, mahoivien = item.MaHV })" class="action-item">
                        <i class="fa-solid fa-trash action-icon"></i>
                    </a>

                    @*@Html.ActionLink("Edit", "Edit", new { maphieu = item.MaPhieu, mahoivien = item.MaHV }) |
                        @Html.ActionLink("Details", "Details", new { maphieu = item.MaPhieu }) |
                        @Html.ActionLink("Delete", "Delete", new { maphieu = item.MaPhieu, mahoivien = item.MaHV })*@
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
               document.addEventListener('DOMContentLoaded', function () {
                    Swal.fire({
                    title: 'Thành công',
                    text: '@ViewBag.Message',
                    icon: 'success',
                    confirmButtonText: 'OK'
                    });
                    });
    </script>
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
               document.addEventListener('DOMContentLoaded', function () {
                Swal.fire({
                title: 'Thành công',
                text: '@TempData["Message"]',
                icon: 'success',
                confirmButtonText: 'OK'
                });
                });
    </script>
}
