@model QuanLyThuVienCNPMNC.Models.DAUSACH

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="bg_dt">
    
    <p class="alert alert-danger mt-3" role="alert"><strong>Bạn có chắc muốn xóa đầu sách này?</strong></p>
    <hr />
    <dl class="dl-horizontal ">
        <dt>
            Tên đầu sách
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSach)
        </dd>

        <dt>
            Thể loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theloai)
        </dd>

        <dt>
            Nhà xuất bản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaXuatBan.TenNXB)
        </dd>

        <dt>
            Ngày xuất bản
        </dt>

        <dd>
            @Convert.ToDateTime(Model.NgayXuatBan).ToString("dd/MM/yyyy")
        </dd>

        <dt>
            Ghi chú
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

    </dl>

    @*<input id="Delete" onclick="confirmDelete('@Model.MaDS')" type="submit" value="Xóa" class="btn btn-danger" />*@

    @using (Html.BeginForm("Delete", "DauSach", new { id = Model.MaDS }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-center">
            @*<input type="submit" value="Xóa" class="btn btn-danger" id="btn-xoa"  />*@
            <button class="btn btn-danger mr-2" id="btn-xoa" type="button">Xóa</button>

            @Html.ActionLink("Trở lại", "Index", null, new { @class = "btn btn-outline-dark" })
        </div>
    }
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.getElementById("btn-xoa").addEventListener("click", function () {
        Swal.fire({
            title: "Bạn thật sự muốn xóa?",
            text: "Thông tin này sẽ không khôi phục lại được, vui lòng kiểm tra thật kỹ",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Xóa",
            cancelButtonText: "Hủy bỏ"
        }).then((result) => {
            if (result.isConfirmed) {
                // Nếu người dùng xác nhận xóa, submit form để thực hiện hành động xóa
                document.forms[0].submit();
            }
        });
    });
</script>
