    @model QuanLyThuVienCNPMNC.Models.DAUSACH

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('.list-nxb').select2({

        })
    });
</script>

<script type="text/javascript">
    function validateData() {

        if ($("#TenSach").val() == "") {
            Swal.fire({
                icon: 'warning',
                title: 'Vui lòng nhập tên sách'
            });
            return false;
        } else if ($("#Theloai").val() == "") {
            Swal.fire({
                icon: 'warning',
                title: 'Vui lòng nhập thể loại'
            });
            return false;
        } else {
            return true;
        }
    }
</script>

<h2>Chỉnh sửa</h2>

@using (Html.BeginForm("Edit", "DAUSACH", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Đầu sách</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.MaDS, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MaDS, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.MaDS, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TenSach, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenSach, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenSach, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Theloai, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Theloai, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Theloai, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NXB, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.NXB, ViewBag.ListNXB as SelectList, new { @class = "form-control list-nxb" })
            @*@Html.EditorFor(model => model.NXB, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.NXB, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NgayXuatBan, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
           
            @Html.EditorFor(model => model.NgayXuatBan, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly"} })
            @Html.ValidationMessageFor(model => model.NgayXuatBan, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.GhiChu, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GhiChu, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn" style="background-color: #210cae; color:#fff;" onclick="validateData()" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Trở lại", "Index",null, new {@class = "btn btn-outline-secondary"})
</div>
<script type="text/javascript">
    $(function () {
        $('#NXB').chosen();
    })
</script>

