@model IEnumerable<QuanLyThuVienCNPMNC.Models.DAUSACH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.js"></script>*@
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.js" defer></script>


<script>

</script>

<h2>Đầu sách</h2>
<hr />
<p>
    <a href="@Url.Action("Create","DauSach")" class="add-item">
        <i class="fa-solid fa-plus add-icon"></i> Thêm
    </a>

</p>


<table id="myTable" class="display">
    <thead>
        <tr>
            <th>
                Mã đầu sách
            </th>
            <th>
                Tên sách
            </th>
            <th>
                Thể loại
            </th>
            <th>
                Nhà xuất bản
            </th>

            <th>
                Ghi chú
            </th>
            <th>
                Hành động
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaDS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSach)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Theloai)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NhaXuatBan.TenNXB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GhiChu)
                </td>
                <td>
                    @*@Html.ActionLink("Details", "Details", new { id = item.MaDS })*@
                    <a href="@Url.Action("Details","DauSach", new {id = item.MaDS})" class="action-item">
                        <i class="fa-solid fa-book action-icon"></i>
                    </a>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.MaDS })*@
                    <a href="@Url.Action("Edit","DauSach", new {id = item.MaDS})" class="action-item">
                        <i class="fa-solid fa-pen-to-square action-icon"></i>
                    </a>
                    <a href="@Url.Action("Delete","DauSach", new {id = item.MaDS})" class="action-item">
                        <i class="fa-solid fa-trash action-icon"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>



@if (ViewBag.Message != null)
{
    <script type="text/javascript">
               document.addEventListener('DOMContentLoaded', function () {
                    Swal.fire({
                    title: 'Thành công',
                    text: '@ViewBag.Message',
                    icon: 'success',
                    confirmButtonText: 'OK'
                    });
                    });
    </script>
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
               document.addEventListener('DOMContentLoaded', function () {
                Swal.fire({
                title: 'Thành công',
                text: '@TempData["Message"]',
                icon: 'success',
                confirmButtonText: 'OK'
                });
                });
    </script>
}


